{
      "printWidth": 100, //Максимальная ширина строки. Указывает, сколько символов должно быть в одной строке перед тем, как код будет перенесён.
      "tabWidth": 2, // Устанавливает ширину табуляции в количестве пробелов. В данном случае, табуляция — это 2 пробела.
      "semi": true, //Указывает, следует ли вставлять точку с запятой (`;`) после каждой строки JavaScript-кода.
      "trailingComma": "es5", //Управление завершающими запятыми в структурах (например, объектах, массивах, параметрах функций):
      "bracketSpacing": false, //Определяет, нужны ли пробелы внутри фигурных скобок
      "arrowParens": "avoid" //Определяет, нужно ли добавлять круглые скобки для стрелочных функций с одним параметром:
}
